<div class="row">

    <div class="col">
        <h2>Pedidos dos Usuários</h2>
    </div>

    <div class="col">
        <form class="d-flex" method="GET" action="/admin/pedidos/pesquisar">
            <input type="search" class="form-control" id="nomeUsuario" name="nomeUsuario"
                placeholder="Digite o nome do usuário">
            <button type="submit" class="btn btn-primary ms-2">Pesquisar</button>
        </form>
    </div>

</div>

<h6>Total vendido: {{somaPrecosVenda}}</h6>

<hr>

<div class="row">

    {{#each vendas}}

    {{#each produtos}}
    <div style="display: inline; width: 15rem;" class="card me-2 p-2 col-2 text-center">

        <img src="{{imagemProduto}}" class="mb-2" width="80%">
        <h5 class="card-title">{{nomeProduto}}</h5>
        <h6 class="card-subtitle text-muted">{{precoProduto}} | Qtde: {{qtde}}</h6>

    </div>
    {{/each}}
    <div class="text-end">
        <h6 class="text-muted">Usuário: {{nomeUsuario}}</h6>
        <h6 class="text-muted">Data: {{createdAt}}</h6>
        <h4>Total: {{total}}</h4>
    </div>
    <hr>

    {{/each}}
</div>