{{!-- <form class="d-flex" role="search">
    <input class="form-control" type="search" placeholder="Digite um produto" aria-label="Search" id="pesquisa">
    <button class="btn btn-outline-success ms-2" type="submit">Pesquisar</button>
</form> --}}

<div class="my-5 p-5 bg-primary text-white rounded">

    <h1 class="display-1">
        {{#if user}}
        <span>Bem-vindo, {{user.nome}}!</span>
    </h1>
    <p>Email: {{user.email}}</p>
    {{else}}

    {{/if}}


    {{#if user}}

    {{else}}
    <a class="btn btn-light text-primary" href="/usuarios/registro">Criar uma conta</a>
    {{/if}}
</div>

<h2>Postagens recentes:</h2>
<hr>

{{#each postagens}}

<div class="card mt-2 pb-1" style="display: inline-flex; width: 40vh;">

    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <small class="text-muted">{{categoria.nome}}</small>
        <p>{{descricao}}</p>
        <div class="d-grid justify-content-lg-end">
            <a href="/postagem/{{slug}}" class="btn btn-sm btn-outline-primary">Leia mais</a>
        </div>
    </div>
</div>


{{else}}

<div class="text-center mt-5 text-muted">
    <h5>Nenhuma postagem cadastrada.</h5>
</div>

{{/each}}

<h2 class="mt-4">Produtos:</h2>
<hr>

<div class="col mt-5">
    <div class="row justify-content-center">

        {{#each produtos}}

        <div class="card col-3 m-1 p-0" style="display: inline-flex; width: 40vh;">

            <div class="card-body">
                <img style="display: block;" src="{{imagem}}" class="mb-2" width="100%">
                <h5 class="card-title">{{nome}}</h5>
                <p class="text-success"><strong>{{preco}}</strong></p>
                <div class="d-grid justify-content-lg-end">
                    <a href="/produto/{{nome}}" class="btn btn-sm btn-success">Comprar</a>
                </div>
            </div>

        </div>


        {{else}}

        <div class="text-center mt-5 text-muted">
            <h5>Nenhum produto cadastrado.</h5>
        </div>

        {{/each}}

    </div>
</div>